body{
    font-family:   Helvetica,sans-serif, Arial;
}
.main-left{
    display: inline-block;
    width: 22%;
    margin-left: 13%;
    margin-right: 2%;
    float: left;
}

.main-left-top,.main-left-bottom{
    border:solid;
    border-color: rgb(175, 174, 174);
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
    padding: 6px;
    margin-bottom: 18px;
}
.main-left-top img,.main-left-bottom img{
    vertical-align: middle;
}
