.main-right{
    display: inline-block;
    width: 47%;
    margin-right: 15%;
    float: right;
}

.main-right-top button{
    background-color:#FFBC0D;
    border-radius: 20px;
    font-weight:600;
    font-size: 14px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    margin: 3px;
}
.main-right-bottom img{
    width: 75%;
    vertical-align: middle;
}
.table-right{
    vertical-align: middle;
    text-align: center;
    vertical-align: top;
}
.main-right-bottom{
    vertical-align: top;
    display: inline-block;
}

