nav{
    border-bottom: 3px;
    border-bottom: solid;
    border-bottom-color: rgb(230, 228, 228);
}
.nav-left, .nav-middle, .nav-right{
    display: inline-block;
}
.nav-middle-up li, .nav-middle-bottom li{
    display: inline-block;
    padding: 22px;
    padding-top: 0px;
}
.nav-left{
    margin-left: 13%;
    padding:18px;
}
.nav-middle-up li a{
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
.nav-middle-bottom li a{
    font-size: 17px;
    color: rgb(101, 98, 98);
    text-decoration: none;
}
.nav-right{
    margin-right: 13%;
    margin-left: 10%;

}
.nav-right button{
    color: white;
    background-color: rgb(201, 38, 38);
    font-size: 14px;
    padding: 8px;
    border-radius: 9px;
    border: none;
}
.nav-left img{
    width: 90%;
}